{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

<div class="product grid-item {% unless product.available %} sold-out {% endunless %}{% if on_sale %} on-sale {% endif %}">

  <!-- The Image -->
  <a class="product-image" href="{{ product.url | within: collection }}">
    <img class="main-product-image" src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />

    {% unless product.available %}
      <img class="sold-out" src="{{ 'sold-out-badge.png' | asset_url }}" />
    {% endunless %}
  </a>

  <!-- The Information -->
  <div class="product-information">
    <a class="title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    <span class="price">
      {% if product.price_varies %}From{% endif %}
      {{ product.price | money }}
      {% if on_sale %}
      <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
      {% endif %}
    </span>

    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>
</div>
