<!-- Cart item template -->
  <script type="template/mustache" id="cart-template">
    {% raw %}

      <div class="item">
        <img src="{{ image }}" />
        <div class="info">
          <p class="vendor">{{ vendor }}</p>
          <p class="title">{{ product_title }}</p>
          <div class="quantity">
            <span>Quantity</span>
            <input class="qty-input" data-variant-id="{{ variant_id }}" type="text" value="{{ quantity }}">
          </div>
          <div class="price">{{ formatted_price }}</div>
          <a class="remove" data-variant-id="{{ variant_id }}">Remove</a>
        </div>
      </div>

    {% endraw %}
  </script>


<div class="quick-cart slide-left">
  <div class="quick-cart-fixed-content">
    <a class="close icon-left-arrow"></a>
    <h2>Shopping Bag</h2>

    <div class="cart-has-items">

      <!-- populated by mustache -->
      <div class="cart-items"></div>

      <div class="cart-totals">

        <form action="/cart" method="post">

          <p>Total</p>
          <h3 class="subtotal">$14</h3>
          <button type="submit" name="checkout" class="btn dark" href="/checkout"><span>Checkout</span></button>

          <div class="instructions">
            <p>Additional Notes</p>
            <textarea name="note">{{ cart.note }}</textarea>
          </div>

        </form>

      </div>

    </div>

    <!-- when no items are in the cart, show this -->
    <div class="cart-no-items">
      <h3>There are no items in your cart.</h3>
    </div>

  </div>
</div>
