<!-- Main Header -->
<header>

  <div class="header-inner">
    <!-- Main logo image -->
    <a id="logo" href="/">
      <span class="desktop">{{ 'logo.svg' | asset_url | img_tag: shop.name }}</span>
      <span class="mobile">{{ 'logo-no-text.svg' | asset_url | img_tag: shop.name }}</span>
    </a>

    <!-- TOP ITEMS (search, cart, customer) -->
    <div class="top-items">

      <span class="icon icon-ui-search"></span>
      {% if customer %}
        <a href="/account"><span class="icon icon-ui-user"></span></a>
      {% else %}
        <a href="/account/login"><span class="icon icon-ui-user"></span></a>
      {% endif %}
      <span class="icon icon-ui-cart">
        <span class="cart-count"></span>
      </span>

      <!-- Cart Link -->
      <div class="cart">
        <a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" /> {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
      </div>

    </div>

    <!-- MAIN SITE NAVIGATION -->


    <!-- Mobile Nav Grabber -->
    <div class="grabber">
      <div class="bars">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
      </div>
    </div>

    <!-- Splitting up the nav into desktop and mobile so we don't have to manage messy states in JS. Instead we're just hiding and showing one depending on screen size -->
    <div class="main-nav">
      {% include 'site-nav' %}
    </div>
    <div class="mobile-nav">
      {% include 'site-nav' %}
    </div>


  </div>

</header>
