<!-- Main Header -->
<header>

  <!-- Main logo image -->
  <a id="logo" href="/"> {{ 'logo.png' | asset_url | img_tag: shop.name }}</a>

  <div class="icon-price"></div>
  <div class="icon-money"></div>
  <div class="icon-facebook"></div>
  <div class="icon-instagram"></div>


  <!-- TOP ITEMS (search, cart, customer) -->
  <div class="top-items">

    <!-- Cart Link -->
    <div class="cart">
        <a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" /> {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
    </div>

    <!-- If customer accounts, then show the sign-in/log-in links -->
    {% if shop.customer_accounts_enabled %}
      <div class="customer">
        {% if customer %}
          Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
        {% else %}
          {{ 'Log in' | customer_login_link }}
          {% if shop.customer_accounts_optional %}
          or {{ 'Create an account' | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    <!-- Search Icon & form -->
    <div class="search">
      <form action="/search" method="get" class="search-form right" role="search">
        <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
        <input type="submit" id="search-submit" value="Search" />
      </form>
    </div>

  </div>

  <!-- MAIN SITE NAVIGATION -->
  {% include 'site-nav' %}

</header>
