{% unless settings.facebook_url == blank %}
  <a href="{{ settings.facebook_url }}" title="Follow us on Facebook" target="_blank">
    <span class="icon-facebook"></a>
  </a>
{% endunless %}
{% unless settings.twitter_url == blank %}
  <a href="{{ settings.twitter_url }}" title="Follow us on Twitter" target="_blank">
    <span class="icon-twitter"></a>
  </a>
{% endunless %}
{% unless settings.pinterest_url == blank %}
  <a href="{{ settings.pinterest_url }}" title="Follow us on Pinterest" target="_blank">
    <span class="icon-pinterest"></a>
  </a>
{% endunless %}
{% unless settings.instagram_url == blank %}
  <a href="{{ settings.instagram_url }}" title="Follow us on Instagram" target="_blank">
    <span class="icon-instagram"></a>
  </a>
{% endunless %}
{% unless settings.linkedin_url == blank %}
  <a href="{{ settings.linkedin_url }}" title="Follow us on linkedin" target="_blank">
    <span class="icon-linkedin"></a>
  </a>
{% endunless %}
