{{ "customer_area.js"  | shopify_asset_url | script_tag }}

{% layout settings.customer_layout %}
<div id="customer-addresses" class="page">

  <div class="page-heading">
    <h1>Addresses</h1>
    <div class="logout centered">
      <a id="customer_logout_link" href="/account">Back to Profile</a>
      <span style="display: inline-block; padding: 0 10px; color: #f0f0f0;">|</span>
      {{ 'Logout' | customer_logout_link }}
    </div>
  </div>

  <div class="section customer-page-wrap">
    <div class="width-restrict centered pad no-top-pad">
      <div id="address_tables">
        {% paginate customer.addresses by 10 %}

        {% for address in customer.addresses %}
        <div class="address_table">
          <div id="view_address_{{address.id}}" class="customer_address">
            <h4 class="address_title">
              {{ address.street }}
              {% if address == customer.default_address %}<span class="default_address note">(Default Address)</span>{% endif %}
            </h4>
            <p class="address_actions">
              <span class="action_link action_edit">{{ 'Edit' | edit_customer_address_link: address.id }}</span>
              <span class="action_link action_delete">{{ 'Delete' | delete_customer_address_link: address.id }}</span>
            </p>
            <div class="view_address">
              <p>{{ address.first_name }} {{address.last_name }}</p>
              <p>{{ address.company }}</p>
              <p>{{ address.street }}</p>
              <p>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</p>
              <p>{{ address.country }} {{ address.zip }}</p>
              <p>{{ address.phone }}</p>
            </div>
          </div>
          <div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
            {% form 'customer_address', address %}
            <table class="customer_address_table">
              <tr>
                <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" placeholder="First Name" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" placeholder="Last Name" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" placeholder="Company" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" placeholder="Address Line 1" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" placeholder="Address Line 2" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" placeholder="City" /></td>
              </tr>
              <tr>
                <td class="value">
                  <label for="address_country_{{form.id}}">Country</label>
                  <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                </td>
              </tr>
              <tr id="address_province_container_{{form.id}}" style="display:none">
                <td class="value">
                  <label for="address_province_{{form.id}}">Province</label>
                  <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                </td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" placeholder="Zip Code" /></td>
              </tr>
              <tr>
                <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Phone" /></td>
              </tr>
              <tr>
                <td class="value">{{ form.set_as_default_checkbox }} Set as Default Address?</td>
              </tr>
            </table>
            <div class="action_bottom">
              <input class="btn" type="submit" value="Update Address" />
              <a class="btn" href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a>
            </div>
            {% endform %}
          </div>
        </div><!-- end .address_table -->
        {% endfor %}

        <div id="address_pagination">{{ paginate | default_pagination }}</div>
        {% endpaginate %}
      </div><!-- end #address_tables -->

      <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" class="add-new-address btn">Add a new address</a>
      <div id="add_address" class="customer_address edit_address" style="display: none;">
        {% form 'customer_address', customer.new_address %}
        <h4 id="add_address_title">Add a new address</h4>
        <table class="customer_address_table">
          <tr>
            <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" placeholder="First Name" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" placeholder="Last Name" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" placeholder="Company" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" placeholder="Address Line 1" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" placeholder="Address Line 2" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" placeholder="City" /></td>
          </tr>
          <tr>
            <td class="value">
              <label for="address_country_new">Country</label>
              <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </td>
          </tr>
          <tr id="address_province_container_new" style="display:none">

            <td class="value">
              <label for="address_province_new">Province</label>
              <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
            </td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" placeholder="Zip Code" /></td>
          </tr>
          <tr>
            <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Phone" /></td>
          </tr>
          <tr>
            <td class="value">{{ form.set_as_default_checkbox }} Set as Default Address?</td>
          </tr>
        </table>
        <div class="action_bottom">
          <input class="btn" type="submit" value="Add Address" />
          <a class="btn" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a>
        </div>
        {% endform %}
      </div>
    </div> <!-- /.span6 -->
  </div> <!-- /.row -->

</div> <!-- /#customer-addresses -->

<script type="text/javascript" charset="utf-8">
// initialize observers on address selectors
new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
{% for address in customer.addresses %}
new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
{% endfor %}
</script>
