{{ 'jquery.min.js' | asset_url | script_tag }}

{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'zero, one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | times: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate collection.products by products_per_page %}

<div class="page-heading">
  <h1>{{ collection.title }}</h1>
  {% if collection.description.size > 0 %}
    <p>{{ collection.description }}</div>
  {% endif %}
</div>

<div class="section">
  <div class="width-restrict pad-bottom">

    <div class="controls-wrap">

      <div class="select-wrap">
        <div class="sorter">
          <label for="sort-by">Sort by</label>
          <select id="sort-by">
            <option value="manual">Featured</option>
            <option value="price-ascending">Price: Low to High</option>
            <option value="price-descending">Price: High to Low</option>
            <option value="title-ascending">A-Z</option>
            <option value="title-descending">Z-A</option>
            <option value="created-ascending">Oldest to Newest</option>
            <option value="created-descending">Newest to Oldest</option>
            <option value="best-selling">Best Selling</option>
          </select>
        </div>
      </div>

      <!-- {% if islinklist > 0 %}
        <div class="select-wrap">
          <div class="filter">
            <label>Filter</label>
            <select id="filter">
              <option value="">Select</option>
              {% for link in list.links %}
                <option value="{{ link.url }}">{{ link.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %} -->

      <script>
      Shopify.queryParams = {};
      if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
          aKeyValue = aCouples[i].split('=');
          if (aKeyValue.length > 1) {
            Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
          }
        }
      }
      jQuery('#sort-by')
        .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
        .bind('change', function() {
          Shopify.queryParams.sort_by = jQuery(this).val();
          location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
        });

      jQuery('#filter')
        .bind('change', function(e) {
          window.location.href = $(e.currentTarget).val();
        });
      </script>


    </div> <!-- /contols-wrap -->


    <div class="grid grid-4 no-slick">
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        <p class="no-products">There are no products in this view.</p>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <div class="pagination centered">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}

    {% endpaginate %}

  </div>
</div>
