<div class="section marquee-slider home-marquee slick-marquee">
  <div class="width-restrict-large">

    <img class="ghost" src="{{ 'slideshow-ghost.png' | asset_url }}" />
    <img class="mobile-ghost" src="{{ 'mobile-ghost.png' | asset_url }}" />

    <div class="slides">

      {% for i in (1..3) %}

        {% comment %} Get the unique data {% endcomment %}
        {% capture show %}show_dog_{{ i }}{% endcapture %}
        {% capture dark %} home-slide-{{i}}-dark {% endcapture %}
        {% capture img %}home-slide-{{i}}.jpg{% endcapture %}
        {% capture hide_text %}home-slide-{{i}}-hide-text{% endcapture %}
        {% capture overlay %}home-slide-{{i}}-overlay{% endcapture %}
        {% capture title %}home-slide-{{i}}-title{% endcapture %}
        {% capture subtitle %}home-slide-{{i}}-subtitle{% endcapture %}
        {% capture url %}home-slide-{{i}}-url{% endcapture %}
        {% capture btntext %}home-slide-{{i}}-btn-text{% endcapture %}

        {% if settings[show] %}
          <div class="slide {% if settings[dark] %} dark {% endif %}" style="background-image: url({{ img | asset_url }})">
            {% unless settings[hide_text] %}
              <div class="copy {% if settings[dark] %} dark {% endif %} {% if settings[overlay] %} overlay {% endif %}">
                <h1>{{ settings[title] }}</h1>
                <h2>{{ settings[subtitle] }}</h2>
                {% if settings[url] %}
                  <a class="btn  {% if settings[dark] %} dark {% else %} light {% endif %}" href="{{ settings[url] }}"><span>{{ settings[btntext] }}</span></a>
                {% endif %}
              </div>
            {% endunless %}
          </div>
        {% endif %}
      {% endfor %}
    </div>


  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Buttons, Inputs, etc</h2>

    <a class="btn">Here's a button</a>
    <input class="btn" type="submit" value="test submit here">

    <textarea>Hey it's a textarea!</textarea>
    <input type="text" placeholder="Text Field Bruh!" />
    <input type="email" placeholder="Email@Bruh.com" />
    <input type="password" placeholder="Pass Pass" />
    <input type="number" placeholder="123" />

  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page RTE Content</h2>

    <!-- Home Page content (including home page collection) -->
    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
      {% assign page = pages[settings.homepage_page] %}
      <div class="rte page-content">
        {{ page.content }}
      </div>
    {% endunless %}

  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page Collection</h2>

    {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
      {% assign collection = collections[settings.homepage_collection] %}
      <div class="grid grid-4">
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <div class="no-products">You have no products in your {{ collections[settings.homepage_collection].title }} collection. <a href="http://www.shopify.com/admin/collections">Add some.</a>
          </div>
        {% endfor %}
      </div>
    {% endunless %}

  </div>
</div>

<!-- Instagram Feed -->
<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page Collection</h2>

    <!-- Make the ghost png -->
    <img id="square-png" src="{{ 'square.png' | asset_url }}" style="display: none;" />


    <div class="instagram-wrap">
      <div id="instafeed"></div>
    </div>
  </div>
</div>
