<div class="section marquee-slider home-marquee slick-marquee">
  <div class="width-restrict-large">

    <img class="ghost" src="{{ 'slideshow-ghost.png' | asset_url }}" />
    <img class="mobile-ghost" src="{{ 'mobile-ghost.png' | asset_url }}" />

    <div class="slides">
      {% if settings.show-home-slide-1 %}
        <div class="slide {% if settings.home-slide-1-dark %} dark {% endif %}" style="background-image: url({{ 'home-slide-1.jpg' | asset_url }})">
          {% unless settings.home-slide-1-hide-text %}
            <div class="copy {% if settings.home-slide-1-dark %} dark {% endif %} {% if settings.home-slide-1-overlay %} overlay {% endif %}">
              <h1>{{ settings.home-slide-1-title }}</h1>
              <h2>{{ settings.home-slide-1-subtitle }}</h2>
              {% if settings.home-slide-1-url %}
                <a class="btn  {% if settings.home-slide-1-dark %} dark {% else %} light {% endif %}" href="{{ settings.home-slide-1-url }}"><span>{{ settings.home-slide-1-btn-text }}</span></a>
              {% endif %}
            </div>
          {% endunless %}
        </div>
      {% endif %}

      {% if settings.show-home-slide-2 %}
        <div class="slide {% if settings.home-slide-2-dark %} dark {% endif %}" style="background-image: url({{ 'home-slide-2.jpg' | asset_url }})">
          {% unless settings.home-slide-2-hide-text %}
            <div class="copy {% if settings.home-slide-2-dark %} dark {% endif %}{% if settings.home-slide-2-overlay %} overlay {% endif %}">
              <h1>{{ settings.home-slide-2-title }}</h1>
              <h2>{{ settings.home-slide-2-subtitle }}</h2>
              {% if settings.home-slide-2-url %}
                <a class="btn  {% if settings.home-slide-2-dark %} dark {% else %} light {% endif %}" href="{{ settings.home-slide-2-url }}"><span>{{ settings.home-slide-2-btn-text }}</span></a>
              {% endif %}
            </div>
          {% endunless %}
        </div>
      {% endif %}

      {% if settings.show-home-slide-3 %}
        <div class="slide {% if settings.home-slide-3-dark %} dark {% endif %}" style="background-image: url({{ 'home-slide-3.jpg' | asset_url }})">
          {% unless settings.home-slide-3-hide-text %}
            <div class="copy {% if settings.home-slide-3-dark %} dark {% endif %}{% if settings.home-slide-3-overlay %} overlay {% endif %}">
              <h1>{{ settings.home-slide-3-title }}</h1>
              <h2>{{ settings.home-slide-3-subtitle }}</h2>
              {% if settings.home-slide-3-url %}
                <a class="btn  {% if settings.home-slide-3-dark %} dark {% else %} light {% endif %}" href="{{ settings.home-slide-3-url }}"><span>{{ settings.home-slide-3-btn-text }}</span></a>
              {% endif %}
            </div>
          {% endunless %}
        </div>
      {% endif %}
    </div>


  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Buttons, Inputs, etc</h2>

    <a class="btn">Here's a button</a>
    <input class="btn" type="submit" value="test submit here">

    <textarea>Hey it's a textarea!</textarea>
    <input type="text" placeholder="Text Field Bruh!" />
    <input type="email" placeholder="Email@Bruh.com" />
    <input type="password" placeholder="Pass Pass" />
    <input type="number" placeholder="123" />

  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page RTE Content</h2>

    <!-- Home Page content (including home page collection) -->
    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
      {% assign page = pages[settings.homepage_page] %}
      <div class="rte page-content">
        {{ page.content }}
      </div>
    {% endunless %}

  </div>
</div>

<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page Collection</h2>

    {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
      {% assign collection = collections[settings.homepage_collection] %}
      <div class="grid grid-4">
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <div class="no-products">You have no products in your {{ collections[settings.homepage_collection].title }} collection. <a href="http://www.shopify.com/admin/collections">Add some.</a>
          </div>
        {% endfor %}
      </div>
    {% endunless %}

  </div>
</div>

<!-- Instagram Feed -->
<div class="section">
  <div class="width-restrict pad">

    <h2>Home Page Collection</h2>

    <!-- Make the ghost png -->
    <img id="square-png" src="{{ 'square.png' | asset_url }}" style="display: none;" />


    <div class="instagram-wrap">
      <div id="instafeed"></div>
    </div>
  </div>
</div>
