{% comment %}
  ALL COLLECTIONS
  Loop through all collections and show them
  as grids (with a limit to each one)
{% endcomment %}
<div class="page-heading">
  <h1>All Collections</h1>
</div>

{% assign featured_collections = linklists.all-collections %}

{% for link in featured_collections.links %}
  {% assign collection = link.object %}

  <div class="section border-bottom">
    <div class="width-restrict pad-bottom centered">

      <h2 class="section-heading">{{ collection.title }}</h2>
      {% if collection.description %}
        <p>{{ collection.description }}</p>
      {% endif %}

      <div class="grid grid-{{ settings.max-grid-cols }}">
        {% assign limit = settings.collection-listing-limit %}
        {% for product in collection.products limit:{{limit}} %}
          {% include 'product-grid-item' %}
        {% else %}
          <p class="nothing-here">There are no products in this view.</p>
        {% endfor %}
      </div>
      <a class="btn" href="{{ collection.url }}">Shop All</a>
    </div>
  </div>

{% endfor %}
